@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

/*seccion inicio */


#inicio {
    background-color: rgba(0, 0, 0, .7), rgba(0, 0, 0, .7);
    background-image: url('../images/fondo-inicio.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

.contenido {

    background-color: rgba(0, 0, 0, .8);
    width: 100%;

    &__header {
        position: fixed;
        z-index: 100;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);

        &__cont-h {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;

            &__title {
                text-align: center;
                color: #9c042c;
            }
        }

    }
}



nav{
    display: flex;
    align-items:center;
    justify-content: space-around;
    min-height:8vh;
}

.hamburg{
  display:none;
  cursor: pointer;
  
  margin:0;
  padding:0;
  }
  
  .hamburg span{
    
      display:block;
      //height:3px;
      //width: 28px;
      //margin:10px auto;
         
  }
.enlaces-menu{
    display:flex;
    padding:0;
}
.enlaces-menu li{
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
}

.enlaces-menu li a{
    text-decoration:none;
    font-size: 1.5rem;
    color:#f3f3f3;
    font-weight:400;
}
.enlaces-menu li a:hover{
    color: #9c042c;
    transition: .5s;
}

#redes{
    display: flex;
}

#redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#redes a:hover {
    color: #9c042c;
}

#icon-nav {
    display: none;
    width: 30%;
}

/*seccion presentacion*/

.presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: rgb(249, 221, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__saludo {
        font-size: 16px;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 5px;

        &__description {
            max-width: 700px;
            margin: 25px auto;
            font-size: 18px;
            text-align: center;
        }
    }

    h2 {
        font-size: 55px;
        margin-bottom: 25px;
        text-align: center;
    }

    span {
        font-size: 25px;
        color: #9c042c;
    }


}

.descripcion {

    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.descripcion:hover {
    background-color: #9c042c;
}

/* seccion sobre mi */

#sobremi {
    max-width: 1100px;
    min-width: 450;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

.sobremi-foto {
    max-width: 400px;
    margin-right: 80px;

    img {
        padding: 25px;
        width: 100%;
        border-radius: 20px;
        background-color: #f3f3f3;
    }
}

.sobremi {
    margin: 0 40px;

    &__titulo {
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
        color: #111135;
        text-decoration: underline;
        text-decoration-color: #d3d3d3;
        text-decoration-thickness: 5px;
    }

    p {
        font-size: 14px;
        line-height: 25px;
        color: #565656;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 34px;
        font-weight: bold;
        margin: 20px 0;
        letter-spacing: 2px;
    }

    span {
        color: #9c042c;
    }

    h3 {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 1px;

    }

    a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        border-radius: 30px;
        border: 1px solid #000;
        padding: 10px 20px;
        margin-top: 30px;
        transition: .5s;
    }

    a:hover {
        background-color: #9c042c;
        color: #fff;
    }
}

/* seccion habilidades*/

.skill {
    padding: 10px 3px;
    text-align: center;
    background-color: #fff;
}

.skill p span {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.inform {
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;

}

/* seccion portafolio*/

#portafolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;

}

.portafolio-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;

}

.contenedor-proyect {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    width: 100%;
}

.proyect {
    max-width: 340px;
    min-width: 300px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    max-height: 60vh;
    min-height: 50vh;

}


.proyect img {
    width: 100%;
    height: 100%;

    filter: grayscale(1);
    object-fit: fill;
    transition: .5s;
}

.proyect:hover img {
    filter: grayscale(0);
}

.info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #a16676;
    width: 100%;
    padding: 3px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
    display: flex;
    flex-direction: column;
}

.proyect:hover .info {
    opacity: 1;
    bottom: 0;

}

.info h4 {
    font-size: 1rem;
    text-align: justify;
    text-transform: uppercase;
    color: #04979c;
    max-width: 355px;
    margin: auto;


}

.info p {

    font-size: 1rem;
    color: #04979c;
    max-width: 355px;
    margin: auto;
}

.links {
    display: flex;
    padding: 3%;
    justify-content: space-between;


}

.links a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    margin: auto;
}

.links a img {
    width: 20px;

}

.links a:hover {
    background-color: #04979c;
    scale: 1.5;
    border-radius: 10%;
    border: solid 3px #04979c;
    transition: .5s;
}

/* seccion contacto*/
#contac {
    padding: 100px 15px;
    background-color: #f3f3f3;
}

.titulo {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.content-form {
    max-width: 1100px;
    min-width: 450px;
    margin: auto;

    &__nombre {
        display: flex;
        justify-content: space-between;
    }

    textarea {
        padding: 20px;
        border-radius: 20px;
        border: none;
        border: 1px solid #919191;
    }
}

.content-f2 {
    margin-bottom: 15px;

    &__tema {
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        border: none;
        border: 1px solid #919191;
    }

}

.input-n {
    margin-bottom: 15px;
    width: 48%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;

}

.btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
    border-radius: 15px;
}

.btn-enviar:hover {
    background-color: #9c042c;
    color: #fff;
}

/* seccion footer*/
.final {
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.final p {
    color: #fff;
    font-size: 1.5rem;
}

.mis-redes {
    display: flex;
    padding: 30px 0;
}

.final a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.final img {
    width: 30px;
}

/* seccion responsive
estilo para movil*/

@media screen and (max-width:900px) {

  #redes{
    display: none;
  }
    .hamburg{
        display:block;
        cursor:pointer;
        position: absolute; 
        top:15px;
        right:25px;
        transition: 0.2s  0.1s; 

    }
 
    
    nav{
        flex-direction:column;
        align-items: flex-start;
        padding-top: 25px;
        padding-bottom: 25px;
    }


    .enlaces-menu{
        flex-direction:column;
        justify-content: space-around;
        align-items:center;
        height: 92vh;         
        margin:0;
        padding:0; 
        display:none;
        opacity:0;
        transition: opacity 5s ease-out;
        width:100%;
    
       
    }
    .enlaces-menu li{
      text-align:center;
      width:100%;
      padding:20px;    
  }





    .presentacion {


        &__saludo {}

        h2 {
            font-size: 40px;
            margin: 0;
        }
        p{
            margin: 10%;
            font-size: 2rem;
        }
    }

    /* seccion sobre mi*/

    #sobremi {
        padding: 50px 0;
        display: block;

    }

    .sobremi-foto {
        max-width: 200px;
        margin: auto;

    }

    .sobremi-foto img {
        padding: 8px;
    }

    .sobremi__titulo {
        text-align: center;

        h2 {
            font-size: 25px;
            text-align: center;
        }

    }

    .sobremi a {
        margin-left: 35%;
    }

    .inform {
        display: flex;
        flex-direction: column;
    }

    .inform p:hover {
        width: 70%;
        margin: auto;
        background-color: #04979c;
        scale: 1.5;
        border-radius: 50px;
        transition: .5s;
    }

    /* seccion portafolio*/
    #portafolio {
        padding: 50px 0;
       // background-color: #04979c;
    }

    .contenedor-proyect {
        display: block;
        margin: 0%;
    }

    .proyect {
        width: 70%;
        margin: 10px auto;
        margin-bottom: 10px;
        height: 50vh;
        min-height: 45vh;
    }
    .proyect img{
        object-fit:fill;
    }

    /* seccion contacto*/
    #contac {
        padding: 50px 15px;
        margin: 10px auto;


    }

    .content-form__nombre {
        margin: auto;
        margin-bottom: 15px;
        display: block;

    }

    .content-form__nombre input {
        width: 100%;
        margin: 10px auto;
        margin-bottom: 15px;
    }
}

/*animacion*/
.hamburg{
    cursor: pointer;
}
.bar{
    display: block;
    width: 32px;
    height: 4px;
    margin: 0;
    padding: 0;
    margin: 5px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;

}

.hamburg.active .bar:nth-child(1){
    transform: translateY(9px) rotate(45deg);
}
.hamburg.active .bar:nth-child(2){
    opacity: 0;
}.hamburg.active .bar:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
}


  